<ion-view>
    <ion-header-bar align-title="center" class="bar bar-header bar-positive">
        <div class="buttons">
            <button class="button icon ion-reply" ng-click="back()"></button>
        </div>
        <h1 class="title">Team Natai Crew</h1>
    </ion-header-bar>
    <ion-content class="has-header">
        <ion-slide-box active-slide="myActiveSlide" pager-click="slide(index)">
            <ion-slide>
                <div class="list card">
                    <div class="item item-body" style="text-align: center;">
                        <img src="../img/app/anik.jpg" style="width: 81%;" />
                        <h2 style="text-align: center;">Anik Islam Abhi</h2>
                        <h5 style="text-align: center;">(Programmer)</h5>
                    </div>
                </div>
            </ion-slide>
        </ion-slide-box>
    </ion-content>
</ion-view>
