<ion-view>
    <ion-content>
        <div class="row">
            <div class="col" style="border: 1px solid #000; text-align: center; height: 200px;">
                <img src="../img/app/santa-piggy-bank-icon.png" />
            </div>
        </div>
        <div class="row">
            <div class="col col-33" style="border: 1px solid #000; text-align: center;">
                <a href="#/account"><img src="../img/app/Account-icon.png" /></a><br />
                <label>Accounts</label>
            </div>
            <div class="col col-33" style="border: 1px solid #000; text-align: center;">

                <a href="#/income">
                    <img src="../img/app/Tax_Income_Research_Icon.png" />
                </a><br />
                <label>Diposit</label>
            </div>
            <div class="col col-33" style="border: 1px solid #000; text-align: center;">
                <a href="#/expense">
                    <img src="../img/app/Sales-report-icon.png" />
                </a>
                <br />
                <label>
                    Withdraw
                </label>
            </div>
        </div>
        <div class="row">
            <div class="col col-33" style="border: 1px solid #000; text-align: center;">
                <a href="#/report">
                    <img src="../img/app/SEO-icon.png" />
                </a>
                <br />
                <label>Reports</label>
            </div>
            <div class="col col-33" style="border: 1px solid #000; text-align: center;">
                <a href="#/settings">
                    <img src="../img/app/settings-icon.png" />
                </a>
                <br />
                <label>Settings</label>
            </div>
            <div class="col col-33" style="border: 1px solid #000; text-align: center;">
                <a href="#/about">
                    <img src="../img/app/info_black.png" />
                </a>
                <br />
                <label>About us</label>
            </div>
        </div>
    </ion-content>
</ion-view>